@font-face {
    font-family: "Fjalla_One";
    src: url("/fonts/Fjalla_One/FjallaOne-Regular.ttf") format(truetype);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Work_sans";
    src: url("/fonts/Work_Sans/static/WorkSans-Regular.ttf") format(truetype);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
